.CriteriaForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CriteriaForm p {
  border: 1px solid white;
  align-items: center;
  color: green;
  width: 23px;
  font-size: 20px;
}

.CriteriaForm .red {
  color: red;
}
