.Details {
  height: 73em;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Details section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.Details .recommended-movies-list {
  height: 900px;
  overflow: scroll;
  margin-bottom: 210px;
}
