.Header {
  align-items: center;
  padding-bottom: 5px;
}

.Header .leftCamera {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.Header img {
  height: 100px;
  width: 100px;
  padding: 15px 15px 0 15px;
}

.Header .logoDiv {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.Header .logoDiv {
  display: flex;
  align-items: center;
}

.Header .navDiv {
  display: flex;
  justify-content: center;
}

.Header .watchlistPage,
.homePage {
  margin: 5px;
}

.Header .watchlistPage,
.homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: silver;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  border: 0;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  font-size: 20px;
  border: 1px solid black;
}

.Header h1 {
  -webkit-text-stroke: 0.1px silver;
  -webkit-text-fill-color: black;
  font-size: 60px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .Header .leftCamera {
    margin-right: 80px;
  }
  .Header .rightCamera {
    margin-left: 80px;
  }
}
