body,
h2,
ul,
li,
p {
  font-family: "Bebas Neue", cursive;
}

.Main .switchFormBtn {
  background-color: silver;
  font-family: "Bebas Neue", cursive;
  border: 0;
  border-radius: 50px;
  height: 30px;
  width: 80px;
  margin-right: 10px;
  font-size: 20px;
  border: 1px solid black;
}

.Main .switchFormBtn:hover {
  background-color: white;
}

.Main .toolBar {
  width: 80%;
  border-width: 2px 0px 2px 0px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: row;
  margin: 4px;
  justify-content: space-around;
  padding: 25px;
  align-items: center;
}

.Main .list {
  display: flex;
  justify-content: center;
}

.Main .toolbarContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
