.Results {
  display: flex;
  justify-content: center;
  width: 550px;
  text-align: center;
}

.Results .movieTemplate {
  border: 3px solid black;
  margin-bottom: 15px;
  padding: 10px;
  background-color: silver;
  border-radius: 20px;
}

.Results .movieTemplate h3 {
  font-size: 30px;
  text-align: center;
  position: relative;
}

.Results .movieTemplate p {
  font-size: 20px;
}

.Results .movieTemplate button {
  width: 100%;
  height: 30px;
  background-color: white;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  border-radius: 10px;
}

.Results img {
  border-radius: 15px;
  background-size: contain;
}

.Results .progressBar {
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 750px;
  left: 20px;
  /* background-color: black;
  border-radius: 50%; */
}

.Results .poster-percentage {
  position: relative;
  height: 750px;
  transition: all 200ms linear;
}

.Results .poster-percentage:hover {
  transform: scale(0.9);
}

.Results button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Results .release-date {
  position: relative;
}
